.pokemonDetail__container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.pokemon_detail_head_text {
  text-shadow: 0 0 3px #000, 2px 2px 7px #b5afaa, -2px -2px 7px #b5afaa;
  font-size: 80px;
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

.pokemonDetail__img {
  width: 80%;
  height: 80%;
}
.pokemonDetail__info__wrapper {
  max-width: 30%;
}
.pokemonDetail__info {
  display: flex;
  align-items: center;
}
.detail__title {
  font-size: 32px;
  text-transform: capitalize;
  margin: 10px;
}
.detail__text {
  color: black;
  padding: 5px 15px;
  margin: 15px;
  border-radius: 10px;
}
.pokemonDetail__stats_wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.pokemonDetail__stat__box {
  width: 70px;
  padding: 15px 0;
  margin: 0 auto;
}
.pokemonsDetail__stat__box__inner {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 0;
  border: 1px solid #b5afaa;
}

.pokemonDetail_stats {
  display: flex;
  flex-direction: column;
}
.stat__text {
  margin: 0 auto;
  padding-bottom: 5px;
  max-width: 20px;
  max-width: 50px;
  text-transform: capitalize;
}
.color_for_stat {
  background-color: #5a4c30;
}
