.load__container {
  min-height: 200px;
  max-width: 185px;
  background-color: #121212;
  padding: 3px;
  position: relative;
  border-radius: 10px;
  border: 4px solid #5a4c30;
  cursor: pointer;
}
.load__container__image {
  width: 100%;
  height: 100%;
}
